<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"><!-- header/footer와 달리 content는 layout/template에 있는게 여기 들어옴 -->
<th:block layout:fragment="content">

    <div id="container" th:with="pglink=${'/brewery/list/'}">

        <div id="content">
            <div class="inner">
                <h2 class="title">양조장 둘러보기</h2>

                <div class="tab-wrap2">

                    <div class="tab-content">
                        <!-- tab cont1 -->
                        <div id="place">

                            <div class="place-wrap">
                                <div class="img">
                                    <span>
                                        <img src="https://thesool.com/common/imageView.do?targetId=MAPIMG0001&targetNm=BREWERYMAP" alt="" usemap="#Map">
                                    </span>
                                </div>
                                <div class="place-list">
                                    <ul>
                                        <!-- 양조장 정보 -->
                                        <li th:each="br:${brs}">
                                            <div class="p-top">
                                                <div th:class="|num ${br.district}|">[[${br.bno}]]</div>
                                                <div class="subject" th:text="${br.brname}">산머루농원</div>
                                                <div class="guide-list">
                                                </div>
                                            </div>
                                            <div class="p-body">
                                                <div class="info">
                                                    <dl>
                                                        <dt>주소</dt>
                                                        <dd>[[${br.addr}]]</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>주종</dt>
                                                        <dd>[[${br.bkind}]]</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>연락처</dt>
                                                        <dd>[[${br.tel}]]</dd>
                                                    </dl>
                                                </div>
                                                <a th:href="|/brewery/view/${br.bno}|" class="link"><i class="fa-solid fa-circle-chevron-right fa-2xl"></i></a>
                                                <!--상세보기-->
                                            </div>
                                        </li>
                                        <!-- //양조장 정보 -->
                                    </ul>
                                    <!-- paging -->
                                    <div class="paging">
                                        <ul class="pagination justify-content-center">
                                            <li th:class="${(cpg - 1 gt 0) ? 'prev' : 'prev disabled'}">
                                                <a th:href="|${pglink}${cpg - 1}|" class="page-link"><i class="fa-solid fa-chevron-left" style="color: #ff9f00;"></i></a></li>
                                            <th:block th:each="i : ${#numbers.sequence(stpg, cntpg)}">
                                                <th:block th:if="${i le cntpg}">
                                                    <li th:class="${(i ne cpg) ? '' : 'selected active'}">
                                                        <a th:href="|${pglink}${i}|" class="page-link" th:text="${i}">1</a></li>
                                                </th:block>
                                            </th:block>
                                            <li th:class="${(cpg lt cntpg) ? 'next': 'next disabled'}">
                                                <a th:href="|${pglink}${cpg + 1}|" class="page-link"><i class="fa-solid fa-chevron-right" style="color: #ff9f00;"></i></a></li>
                                        </ul>
                                    </div>
                                    <!--//paging -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //container -->

</th:block>
</html>