<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2"/>
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta name="description" content="전통주 관련 종합정보 사이트. 전통주 뉴스, 브랜드, 양조장, 온라인 및 오프라인 판매처 안내. 한국농수산식품유통공사 운영."/>
    <meta name="keywords" content="" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />

    <link rel="shortcut icon" href="https://thumb.silhouette-ac.com/t/db/db35083c72ebb3f4dbdd0350d068afc6_t.jpeg" type="image/x-icon"/>
    <title>우리 Sul</title>
    <script src="https://thesool.com/js/front/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/bs5/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://thesool.com/css/front/common.css"/>
    <link rel="stylesheet" type="text/css" href="https://thesool.com/css/front/respond.css"/>
    <script src="https://thesool.com/js/front/swiper.js" async></script>
    <script src="https://thesool.com/js/front/global.js" async></script>

    <link rel="stylesheet" href="/assets/css/woorisul/site.css"> <!-- 더술 사이트 layout.css -->
    <link rel="stylesheet" href="/assets/css/woorisul/header.css">
    <link rel="stylesheet" href="/assets/css/woorisul/sns.css">
    <link rel="stylesheet" href="/assets/css/woorisul/anju.css">
    <link rel="stylesheet" href="/assets/css/drink/list.css"/>
    <link rel="stylesheet" href="/assets/css/woorisul/brewery.css">
    <link rel="stylesheet" href="/assets/css/woorisul/online.css">
    <link rel="stylesheet" href="/assets/css/woorisul/offline.css">
    <script src="/assets/js/woorisul/header.js"></script>
    <script src="/assets/js/woorisul/image.js"></script>
    <script src="/assets/js/woorisul/woorisul.js"></script>
    <script src="/assets/js/woorisul/drink.js"></script>

    <!-- 대한민국 구석구석 -->
    <link rel="stylesheet" type="text/css" href="https://korean.visitkorea.or.kr/resources/css/content.css?v=20230104001ad048f89-26db-4441-8122-6941f2ad048b"/>

    <script src="https://kit.fontawesome.com/eb07c6eb8a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <th:block th:replace="layout/header :: header"></th:block>

    <th:block layout:fragment="content"></th:block>

    <th:block th:replace="layout/footer :: footer"></th:block>

 </div>

 <script src="/assets/js/bs5/bootstrap.bundle.min.js"></script>


 </body>
 </html>