<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">



<th:block layout:fragment="content">
    <style>
        .badge-pink {
            background-color: #ff0099;
            color: white;
        }
    </style>


    <div id="main">
        <div class="mt-5">
            <i class="fa-solid fa-martini-glass-citrus fa-2xl">칵테일</i>
            <hr>
        </div>

        <div class="row mt-5 mb-3 ">
            <div class="row offset-5 col-9">
                <div class="col-3">
                    <select class="form-select" id="findtype">
                        <option>전</option>
                        <option>통</option>
                        <option>주</option>
                        <option>칵</option>
                        <option>테</option>
                        <option>일</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control col-2" id="findkey">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-light" id="findbtn">
                        <i class="fa-solid fa-magnifying-glass"></i> 술 검색하기</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-1 col-10">
                <table class="table table-striped">
                        <div class="step_content_box_sub">
                            <div>전통주 칵테일</div>
                        </div>
                </table>
               <!--         <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <a href="/coc/view">
                                        <img src="http://localhost/cdn/%EA%B3%A0%EC%A7%84%EA%B0%90%EB%9E%98.jpg" class="card-img-top" alt="이미지1"></a>
                                    <div class="p-2"><span class="badge badge-pink">칵테일</span> <span>고진감래</span></div>
                                    <div class="p-2"><span class="badge bg-secondary">베이스</span> 감홍로 베이스</div>
                                    <div class="p-2"></div>
                                </div>
                            </div>
                        </div>&lt;!&ndash; 칵테일 리스트 &ndash;&gt;-->
                <div class="row justify-content-center mb-4"> <!-- 사진 가운데 정렬 아래 4 띄움 -->
                    <div th:each="coc : ${cocs}"
                         class="col-10 card" style="width: 18rem">
                        <a th:href="|/cocktail/view/${coc.cno}|">
                            <img th:src="|http://localhost/cdn/_thumbs/small_|"
                                 class="card-img-top" alt="..."></a>

                        <div class="card-body">
                            <h5 class="card-title" th:text="${coc.cname}">술이름</h5>
                            <p><span th:text="${coc.mix}">조합</span>
                                <span style="float: right" th:text="${coc.comment}">칵테일 소개</span></p>
                            <p><span th:text="${coc.recipe}">레시피</span>
                                <span style="float: right" th:text="${coc.base}">베이스</span></p>
                        </div>
                    </div>

                </div><!-- 갤러리 이미지 리스트 -->
            </div>
        </div>


    </div>
    <script src="/assets/js/cocktail.js" charset="utf-8"></script>
</th:block>
</html>