<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <link rel="stylesheet" href="/assets/css/coc/coc.css">
    <div id="main">
        <div class="inner">
            <h2 class="title" style="font-family: 'SangSangRock'; font-weight: bold; font-size:60px;">우아한 한잔</h2>
        </div><!-- 하위항목 -->
        <div class="product-view">
            <dl>
                <dt class="subject" id="mainname" th:text="${c.cname}">백의민족</dt>
                <dd class="detail" id="cocdetail">
                    <div class="thumb">
                        <div class="img justify-content-center">

                            <img th:src="${c.mainphoto}"/>

                        </div>
                    </div>


                    <div class="info" style="padding-left:255px;padding-top:30px;">
                        <div class="title">
                            <span>상세 정보</span>
                        </div>
                        <ul class="info-list" style="margin-top:30px;">
                            <li><strong>조합 </strong>
                                <span th:utext="${c.mix}"> 감흥로 + 프란젤리코 + 우유 </span>
                            </li>
                            <li><strong>글라스 </strong>
                                <span th:text="${c.glass}">CocktaiI Glass</span>
                            </li>
                            <li><strong>기법 </strong>
                                <span th:text="${c.method}">shake</span>
                            </li>
                            <li><strong>장식 </strong>
                                <span th:text="${c.decoration}">Cinnamon powder</span>
                            </li>
                        </ul>
                    </div>
                </dd>

               <div class="container2">
                    <dd class="intro">
                        <div class="title" id="comment">
                            <span>제품 소개</span>
                        </div>
                        <div class="text" th:text="${c.comment}">
                            조선 3대 명주인 감홍로를 사용하여 조선시대 선비의 청렴함과 흰옷을 즐겨 입은 우리 민족을 표현하였다.
                        </div>
                    </dd>
                </div>

                <hr>

                <div class="container2">
                <dd class="food">
                    <div class="title" id="recipe">
                        <span>레시피</span>
                    </div>
                    <div class="text" th:utext="${c.recipe}">
                        ❶ 셰이커에 재료와 적당량의 얼음을 넣은 후 잘 흔든다.<br>

                        ❷ 셰이커의 캡만 열고 얼음을 걸리 내용물만 미리 차게 준비한 칵테일 글라스에 따른다.<br>

                        ❸ 계피가루로 장식한다.<br>

                    </div>
                </dd>
                </div>

                <style>
                    .title {
                        vertical-align: baseline; /* 가운데로 안감 */
                    }

                    .img {
                        display: flex;
                        justify-content: center;
                    }

                </style><!-- css -->

                <hr>

                <dd class="place">
                    <div class="title" id="photo">
                        <span>조합 사진</span>
                    </div>
                    <div class="img" id="miximg">
                        <div>
                            <img th:src="${c.cphoto}" width="500" height="300" class="img-thumbnail"/>
                        </div>
                    </div>
                </dd><!-- 조합 사진 -->

                <hr>

                <div id="base">
                    <div class="sulbase">
                        <dt class="subject" id="subname" th:text="| Base : ${c.base}|" style="font-weight: 200;">백의민족
                        </dt>

                        <div class="mt-5">

                        </div>
                        <div class="img-container">
                            <img th:src="${c.cbphoto}"
                                 width="500px;" height="350px;" class="img-fluid img-thumbnail"/>
                        </div>

                    </div>
                    <div class="mb-5">

                    </div><!-- base 이미지 -->

                    <div class="cocpaging">
                        <ul class="pagination justify-content-center">
                            <li class="nav-item">
                                <a th:href="@{|/coc/view/${prevCno}|}" class="page-link"><i
                                        class="fa-solid fa-chevron-left" style="color: #ff9f00;" alt="이전페이지"></i></a>
                            </li>

                            <script>
                                function toggleList() {
                                    var list = document.querySelector('.list');
                                    list.classList.toggle('active');
                                }
                            </script>

                            <div class="footer-top">
                                <div class="link">
                                    <div class="select" onclick="toggleList()">클릭해주세요</div>
                                    <ul class="list">
                                        <li><a href="/coc/view/1">1.고진감래</a></li>
                                        <li><a href="/coc/view/2">2.백의민족</a></li>
                                        <li><a href="/coc/view/3">3.스위트 듀</a></li>
                                        <li><a href="/coc/view/4">4.시나몬 키스</a></li>
                                        <li><a href="/coc/view/5">5.고소리 콕</a></li>
                                        <li><a href="/coc/view/6">6.설도</a></li>
                                        <li><a href="/coc/view/7">7.성산 일출봉</a></li>
                                        <li><a href="/coc/view/8">8.유채꽃</a></li>
                                        <li><a href="/coc/view/9">9.골든에이지</a></li>
                                        <li><a href="/coc/view/10">10.문배술 모히토</a></li>
                                        <li><a href="/coc/view/11">11.문배술 칵테일</a></li>
                                        <li><a href="/coc/view/12">12.제이제이</a></li>
                                        <li><a href="/coc/view/13">13.백일몽</a></li>
                                        <li><a href="/coc/view/14">14.선비</a></li>
                                        <li><a href="/coc/view/15">15.안동</a></li>
                                        <li><a href="/coc/view/16">16.풍류랑</a></li>
                                        <li><a href="/coc/view/17">17.마리아주</a></li>
                                        <li><a href="/coc/view/18">18.조선 플라워</a></li>
                                        <li><a href="/coc/view/19">19.광복</a></li>
                                        <li><a href="/coc/view/20">20.그린나래</a></li>
                                        <li><a href="/coc/view/21">21.카페루이</a></li>
                                        <li><a href="/coc/view/22">22.화요</a></li>
                                        <li><a href="/coc/view/23">23.화요 마티니</a></li>
                                    </ul>
                                </div>
                            </div>

                            <li class="nav-item">
                                <a th:href="@{|/coc/view/${nextCno}|}" class="page-link"><i
                                        class="fa-solid fa-chevron-right" style="color: #ff9f00;" alt="다음페이지"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </dl>
        </div>


        <div class="btn-area">
            <button type="button" class="btn-primary" id="backbtn" onclick="move();">목록</button>
        </div>


    </div>
    <script src="/assets/js/cocktail.js" charset="UTF-8"></script>
</th:block>
</html>