<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
  <div id="main">
    <div class="mt-5">
      <h2><img src='http://lampcook.com/images/global/mark.png' alt='h2mark' /> 백의민족</h2>
    </div>
    <div class='txt_padd_box'>
      <div class='txt_padd_box20'>
        <div class='def_color_box'>
          <div>■ 백의민족 - The White-Clad Folk Cocktail</div>
        </div>
        <div class='txt_padd_box_img20'>
          <img src="http://lampcook.com/wi_files/food_story/cocktail_story/story3_2_1.jpg" onerror="this.src='/wi_imgs/no_140.gif';" alt="백의민족 칵테일" />
        </div>
        <p>
          ▣ 글라스 : CocktaiI Glass
        </p>
        <p>
          ▣ 기법 : Shake
        </p>
        <p>
          ▣ 장식 : Cinnamon powder
        </p>
        <p class='span_bold'>
          ♣ Recipe
        </p>
        <div>
          • Gamhongro 30mL
        </div>
        <div>
          • Frangelico 30mL
        </div>
        <div>
          • Milk 30mL
        </div>
        <p class='span_bold'>
          ♣ Method
        </p>
        <dl id='story_key_txt'>
          <dt class='mar_bott10 span_bold'></dt>
          <dd>
            <p>
              ❶ 셰이커에 재료와 적당량의 얼음을 넣은 후 잘 흔든다.
            </p>
            <p>
              ❷ 셰이커의 캡만 열고 얼음을 걸리 내용물만 미리 차게 준비한 칵테일 글라스에 따른다.
            </p>
            <p>
              ❸ 계피가루로 장식한다.
            </p>
          </dd>
        </dl>
        <div class='txt_padd_box_img20'>
          <img src="http://lampcook.com/wi_files/food_story/cocktail_story/story3_2_2.jpg" onerror="this.src='/wi_imgs/no_140.gif';" alt="백의민족 칵테일 재료" />
        </div>
      </div>
      <p class='span_bold'>
        ♣ Subject
      </p>
      <p>
        조선 3대 명주인 감홍로를 사용하여 조선시대 선비의 청렴함과 흰옷을 즐겨 입은 우리 민족을 표현하였다.
      </p>
      <div class='def_color_box'>
        <div>■ Base | 감홍로</div>
      </div>
      <div class='txt_padd_box_img40'>
        <img src="http://lampcook.com/wi_files/food_story/cocktail_sub_story/story7_1_0.jpg" onerror="this.src='/wi_imgs/no_140.gif';" alt="백의민족 칵테일 베이스 감홍로" />
      </div>				</div>
  </div>
  </div>
</th:block>
</html>