<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div class="inner">
        <h2 class="title" style="font-family: 'SangSangRock'; font-weight: bold; font-size:60px;">안주와 함께하기</h2>
    </div><!-- 하위항목 -->
    <div class="tab-wrap2">
        <div class="tab-scroll">
            <ul class="tab tab-depth">
                <li th:class="${(kind eq 'All') ? 'tab-menu selected' : 'tab-menu'}"><a href="/anju/list/All" target="_self">전체</a></li>
                <li th:class="${(kind eq '탁주') ? 'tab-menu selected' : 'tab-menu'}"><a href="/anju/list/탁주" target="_self">탁주</a></li>
                <li th:class="${(kind eq '약주·청주') ? 'tab-menu selected' : 'tab-menu'}"><a href="/anju/list/약주·청주" target="_self">약주·청주</a></li>
                <li th:class="${(kind eq '과실주') ? 'tab-menu selected' : 'tab-menu'}"><a href="/anju/list/과실주" target="_self">과실주</a></li>
                <li th:class="${(kind eq '증류주') ? 'tab-menu selected' : 'tab-menu'}"><a href="/anju/list/증류주" target="_self">증류주</a></li>
                <li th:class="${(kind eq '기타주류') ? 'tab-menu selected' : 'tab-menu'}"><a href="/anju/list/기타주류" target="_self">리큐르/기타주류</a></li>
            </ul>
        </div>
    </div><!-- 탭 목록 -->


    <div class="grid-container">
        <div th:each="ad : ${ads}">
            <div class="grid-item">
                <img th:src="${ad.photo}" alt="이미지">
                <p th:text="${ad.aname}">가자미식해</p>
            </div>
        </div>
    </div><!-- 안주 목록 -->
</th:block>
</html>