<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanjan.yeji.boot.woorisul.mybatis.AnjuMapper">

    <insert id="insertAnju" parameterType="Anju">
        insert into Anju (ano, aname, sno, photo, kind)
        values (#{ano}, #{aname}, #{sno}, #{photo}, #{kind})
    </insert>
    <select id="selectAnju" resultType="Anju">
        select ano, aname, sno, photo, kind from anju where kind = #{kind}
    </select>
    <select id="getAllAnju" resultType="Anju">
        select ano, aname, sno, photo, kind from anju
    </select>
</mapper>