<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanjan.yeji.boot.woorisul.mybatis.BreweryMapper"> <!--패키지이름.인터페이스이름-->

    <resultMap id="pr" type="Program">
        <result column="pname" property="pname"/>
        <result column="place" property="place"/>
        <result column="contents" property="contents"/>
        <result column="time" property="time"/>
        <result column="cost" property="cost"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <resultMap id="sul" type="SulBoard">
        <result column="sno" property="sno"/>
        <result column="sname" property="sname"/>
        <result column="ptg" property="ptg"/>
        <result column="suls" property="suls"/>
        <result column="sphoto" property="sphoto"/>
    </resultMap>

    <resultMap id="bspr" type="Brewery">
        <result column="bno" property="bno"/>
        <result column="brname" property="brname"/>
        <result column="addr" property="addr"/>
        <result column="bkind" property="bkind"/>
        <result column="tel" property="tel"/>
        <result column="waddr" property="waddr"/>
        <result column="bphoto" property="bphoto"/>
        <result column="views" property="views"/>

        <collection property="pr" resultMap="pr"/>
        <collection property="sul" resultMap="sul"/>
    </resultMap>



<!--    <insert id="insertBrewery" parameterType="Brewery">
        insert into brewery(brname, addr, bkind, tel, waddr, bphoto, district)
        values (#{brname}, #{addr}, #{bkind}, #{tel}, #{waddr}, #{bphoto}, #{district})
    </insert>-->

    <!-- 양조장 모두 불러오기 -->
    <select id="selectBrewery" resultType="Brewery">
        select bno, brname, addr, bkind, tel, waddr, district from brewery limit ${stnum}, 4
    </select>

    <!-- 양조장 하나 불러오기 -->
    <select id="selectOneBrewery" resultMap="bspr">
        select *,
        (select group_concat(sname, ';', ptg, ';', sphoto)
        from bspr where bno = #{bno}) suls
        from bspr where bno = #{bno} limit 0,1
    </select>

    <!-- 조회수 기능 구현 -->
    <update id="updateViewBrewery">
        update brewery set views=views+1 where bno = #{bno}
    </update>

    <!-- 양조장 리스트 페이지 수 -->
    <select id="countPageBrewery">
        select ceil(count(bno)/4) cntpg from brewery
    </select>

    <!-- 양조장 총개수 -->
    <select id="countAllBrewery">
        select count(bno) cntbr from brewery
    </select>

    <!-- 검색 기능 구현 -->
    <!-- 검색한 양조장 불러오기 -->
    <select id="selectFindBrewery" parameterType="map" resultType="Brewery">
        select bno, brname, addr, bkind, tel, district, views from brewery

        <if test="findbrtype == 'brname'">
            where ${findbrtype} like concat('%', #{findbrkey}, '%')
        </if>

        limit #{stnum}, 4
    </select>

    <!-- 검색한 양조장 리스트 페이지 수 -->
    <select id="countPageFindBrewery" parameterType="map">
        select ceil(count(bno) / 4) cntfpg from brewery

        <if test="findbrtype == 'brname'">
            where ${findbrtype} like concat('%', #{findbrkey}, '%')
        </if>
    </select>

    <!-- 검색한 양조장 개수 -->
    <select id="countFindBrewery" parameterType="map">
        select count(bno) cntbr from brewery

        <if test="findbrtype == 'brname'">
            where ${findbrtype} like concat('%', #{findbrkey}, '%')
        </if>
    </select>

    <!-- //검색 기능 구현 -->


</mapper>