<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanjan.yeji.boot.woorisul.mybatis.CocktailMapper">

    <resultMap id="ca" type="CocAttach">
        <result column="fname" property="fname" />
        <result column="fsize" property="fsize" />
    </resultMap>

    <resultMap id="cca" type="Cocktail">
        <result column="cno" property="cno"/>
        <result column="cname" property="cname"/>
        <result column="mix" property="mix"/>
        <result column="comment" property="comment"/>
        <result column="recipe" property="recipe"/>
        <result column="base" property="base"/>
        <result column="cphoto" property="cphoto"/>
        <result column="glass" property="glass"/>
        <result column="method" property="method"/>
        <result column="decoration" property="decoration"/>
        <result column="cbphoto" property="cbphoto"/>


        <collection property="ca" resultMap="ca"/>
    </resultMap>

    <insert id="insertCocktail" parameterType="Cocktail">
        insert into cocktail (cname,mix,comment,recipe,base,
        cphoto,glass,method,decoration,cbphoto)

        value (#{cname},#{mix},#{comment},#{recipe},#{base},
        #{cphoto},#{glass},#{method},#{decoration},#{cbphoto})
    </insert>

    <select id="lastCocCno">
        select AUTO_INCREMENT -1 cno
        from information_schema.TABLES where TABLE_NAME = 'cocktail'
    </select>

    <insert id="insertCocAttach" parameterType="CocAttach">
        insert into cocattach (cno,fname,fsize)
        value (#{cno},#{fname},#{fsize})
    </insert>

    <select id="selectCocktail" resultMap="cca">
        select * from cca0
        order by cno ASC limit #{stnum}, 6
    </select>

    <select id="selectOneCocktail" resultMap="cca"> <!-- rsultMap을 만들어-->
        select * from cca where cno = #{cno}
    </select>

    <select id="selectCountCocktail">
        select ceil(count(cno) / 6) cntpg from cocktail
    </select>

    <!-- 페이지 검색-->
<!--    <select id="selectFindCocktail" parameterType="map" resultType="Cocktail">-->
<!--        select cno, cname, mix, comment, recipe, base,cphoto,glass,method,decoration,cbphoto from cocktail-->

<!--        <if test="findtype == 'cname'">-->
<!--            where ${findtype} like concat('%', #{findkey}, '%')-->
<!--        </if>-->

<!--        limit #{stnum}, 6-->
<!--    </select>-->

    <select id="countPageFindCocktail" parameterType="map">
        select ceil(count(cno) / 6)  cntfpg from cocktail

        <if test="findtype == 'cname'">
            where ${findtype} like concat('%', #{findkey}, '%')
        </if>
    </select>

<!--    <select id="countFindCocktail" parameterType="map">-->
<!--        select count(cno) cntcn from cocktail-->

<!--        <if test="findtype == 'cname'">-->
<!--            where ${findtype} like concat('%', #{findkey}, '%')-->
<!--        </if>-->
<!--    </select>-->

    <!-- 칵테일 총개수 -->
    <select id="countAllCocktail">
        select count(cno) cntcoc from cocktail
    </select>




    <!-- selectFindCocktail -->
    <select id="selectFindCocktail" parameterType="map" resultType="Cocktail">
        SELECT cno, cname,mix, comment, recipe, base FROM cocktail
        <where>
            <if test="findtype == 'cname'">
                cname LIKE CONCAT('%', #{findkey}, '%') OR mix LIKE CONCAT('%', #{findkey}, '%')
            </if>
            <if test="findtype != 'cname'">
                AND ${findtype} LIKE CONCAT('%', #{findkey}, '%')
            </if>
        </where>
        ORDER BY cno DESC LIMIT #{stnum}, 6
    </select>

    <!-- countFindCocktail -->
    <select id="countFindCocktail" parameterType="map" resultType="int">
        SELECT CEIL(COUNT(cno) / 6) AS cntpg FROM cocktail
        <where>
            <if test="findtype == 'cname'">
                cname LIKE CONCAT('%', #{findkey}, '%') OR mix LIKE CONCAT('%', #{findkey}, '%')
            </if>
            <if test="findtype != 'cname'">
                AND ${findtype} LIKE CONCAT('%', #{findkey}, '%')
            </if>
        </where>
    </select>

    <!--<select id="searchSul" resultType="SulBoard">
        SELECT * FROM sul WHERE
        <if test="sname != null">
            sname LIKE CONCAT('%', #{sname}, '%') AND
        </if>
        <if test="region != null">
            region = #{region}
        </if>
    </select>
-->


</mapper>