<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanjan.yeji.boot.woorisul.mybatis.SulBoardMapper">
    <insert id="insertSulBoard" parameterType="SulBoard">
        insert into sul(sname, kind, base, tag)
        values (#{sname},#{kind},#{base},#{tag});
    </insert>

    <select id="selectSulBoard" resultType="SulBoard">
        select sno, sname, kind, base, ptg, intro, bno, tag from sul
        order by sno desc limit #{stnum}, 25
    </select>

<!--    <select id="selectBoard" resultType="Board">-->
<!--        select bno, title, userid, regdate, thumbs, views from board2-->
<!--        order by bno desc limit #{stnum}, 25-->
<!--    </select>-->

<!--    <select id="selectOneBoard" resultType="Board">-->
<!--        select * from board2 where bno = #{bno}-->
<!--    </select>-->


</mapper>