<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hanjan.yeji.boot.woorisul.mybatis.SulBoardMapper">

    <resultMap id="br" type="Brewery">
        <result column="brname" property="brname"/>
        <result column="addr" property="addr"/>
        <result column="bkind" property="bkind"/>
        <result column="tel" property="tel"/>
        <result column="waddr" property="waddr"/>
    </resultMap>

    <resultMap id="sbj" type="SulBoard">
        <result column="sno" property="sno"/>
        <result column="sname" property="sname"/>
        <result column="kind" property="kind"/>
        <result column="base" property="base"/>
        <result column="ptg" property="ptg"/>
        <result column="intro" property="intro"/>
        <result column="bno" property="bno"/>
        <result column="tag" property="tag"/>
        <result column="sphoto" property="sphoto"/>

        <collection property="br" resultMap="br"/>
    </resultMap>


    <insert id="insertSulBoard" parameterType="SulBoard">
        insert into sul(sname, kind, base, ptg, intro, tag)
        values (#{sname},#{kind},#{base}, #{ptg}, #{intro}, #{tag});
    </insert>


    <select id="selectOneSulBoard" resultMap="sbj">
        select * from sbj where sno = #{sno}
    </select>

    <select id="selectSulBoard" resultMap="sbj">
        select * from sbj

        <if test="kind != 'All'">
            where kind = #{kind}
        </if>

        order by sno desc limit #{stnum}, 5
    </select>


    <select id="selectCountSulBoard">
        select ceil(count(sno) / 5) cntpg from sul

        <if test="kind != 'All'">
            where kind = #{kind}
        </if>

    </select>

    <select id="selectFindSulBoard" parameterType="map" resultType="SulBoard">
        <!-- 보내야 하는 변수가 1개가 아닌 3개이상이라 parameterType=Map으로 바꿔줌-->
        select sno, sname, kind, base, ptg, bno, tag from sul where kind = #{kind}
        order by bno desc limit #{stnum}, 5
    </select>

    <select id="selectSul" resultType="SulBoard">
        select sno, sname, kind, base, ptg, bno, tag from sul where kind = #{kind}
    </select>

    <!-- 전통주 총개수 -->
    <select id="totalSulBoard">
        select count(sno) cntbr from sul

        <if test="kind != 'All'">
            where kind = #{kind}
        </if>

    </select>

    <!--    지역별 술 검색하기-->
    <select id="searchSul" resultType="SulBoard">
            SELECT * FROM sul WHERE
            <if test="sname != null">
                sname LIKE CONCAT('%', #{sname}, '%') AND
            </if>
            <if test="region != null">
                region = #{region}
            </if>
    </select>

    <select id="selectList" parameterType="map" resultType="SulBoard">
        SELECT * FROM sul
        WHERE
        <if test="sname != null">
            sname LIKE CONCAT('%', #{sname}, '%') AND
        </if>
        <if test="region != null">
            region = #{region} AND
        </if>
        1 = 1
        LIMIT #{start}, #{size}
    </select>

    <select id="selectSulBoardByTag" resultType="SulBoard">
        SELECT * FROM sul WHERE tag = #{tag} LIMIT #{cpg}, 3
    </select>

    <select id="selectCountSulBoardByTag" resultType="int">
        SELECT COUNT(*) FROM sul WHERE tag = #{tag}
    </select>

    <select id="totalSulBoardByTag" resultType="int">
        SELECT COUNT(*) FROM sul WHERE tag = #{tag}
    </select>

    <select id="countSearchSul" resultType="int">
        SELECT COUNT(*)
        FROM sul
        WHERE sname LIKE CONCAT('%', #{sname}, '%')
        AND region LIKE CONCAT('%', #{region}, '%')
    </select>


</mapper>