<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <!-- jQuery 라이브러리를 포함시킴 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<th:block layout:fragment="content">
    <!-- 술 리스트 -->
    <div id="content">
        <div class="inner"
             th:with="pglink=${ (#strings.isEmpty(skey)) ?
         '/drink/list/' + kind + '/' : '/drink/find/' + sname + '/' + skey + '/'}">

            <h2 class="title">우리술 종류</h2>

        <div class="tab-wrap2">

            <form method="get" id="pagingForm" name="pagingForm" th:action="@{/drink/list/{kind}/{cpg}(kind=${kind},cpg=${cpg})}">
                <div class="board-top justify-content-">
                    <div class="board-btn">
                        <a href="https://terms.naver.com/list.nhn?cid=58636&categoryId=58636" class="btn-wiki" target="_blank">네이버 전통주 지식백과</a>
                        <a href="" class="btn-keywords">키워드 사전</a>
                        <div class="board-search info-search" style="height: 30px">
                            <div class="total" >Total <span th:text="${cntbr}">0</span></div> <!-- 전체 글 개수-->

                        </div>
                    </div> <!-- 네이버백과 연결, 키워드 사전 -->

                </div>

            </form>

            <div class="tab-content">
                <div id="tab1">
                    <div class="product-list">

                        <ul>
                            <!-- li 하나가 술 항목 하나 -->

                            <li th:each="sbd: ${sbds}" class="item">
                                <div class="thumb">
                                    <div class="img">
                                            <span>
                                                <a th:href="|/drink/detail/${sbd.sno}|">
                                                    <img th:src="${sbd.sphoto}" th:alt="${sbd.sname}"/>
                                                </a>
                                            </span>
                                    </div>
                                </div>

                                <dl class="detail">
                                    <dt>
                                        <div class="title-area">
                                            <div class="name" th:text="${sbd.sname}">삼해주</div>
                                        </div>
                                        <div class="label-list">
                                            <ul>
                                            </ul>
                                        </div> <!-- 해당페이지에 회색 부분으로 만들어짐..-->
                                    </dt>
                                    <dd>
                                        <ul>
                                            <li>
                                                <div class="subject">양조장 No.</div>
                                                <div class="info" th:text="${sbd.bno}">선인양조</div>
                                            </li>
                                            <li>
                                                <div class="subject">주원료</div>
                                                <div class="info" th:text="${sbd.base}">양주쌀, 누룩, 정제수</div>
                                            </li>
                                            <li>
                                                <div class="subject">도수</div>
                                                <div class="info" th:text="${sbd.ptg}">15% &nbsp;
                                                </div>
                                            </li>
                                            <li>
                                                <div class="subject">제품특징</div>
                                                <div class="info no-line">
										<span class="el-3line" th:text="${sbd.intro}">
											삼해 주는 고려 시대부터 이어져 온 서울지역의 전통주입니다. 원래 궁중에서 의식이나 행사 사용하거나 사대부 집안의 가양주로 애용되다가 조선시대에 큰 사랑을 받았습니다. 15도 도수가 느껴지지 않을 만큼 부드러우며 단맛, 신맛 등이 적당히 잘 어우러지고 뒷맛도 깔끔합니다.
										</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>

                            </li>

                            <!-- 첫번째 술 항목 끝-->

                        </ul>

                    </div>
                    <!-- paging -->
                    <div class="paging">
                        <ul class="pagination justify-content-center">
                            <th:block th:if="${cpg gt 1}">
                                <li class="first">
                                    <a th:href="|${pglink}1|" class="page-link">처음</a></li>
                            </th:block>

                            <li th:class="${(cpg - 1 gt 0) ? 'prev' : 'prev disabled'}"><a th:href="|${pglink}${cpg - 1}|" class="page-link">이전</a></li>
                            <th:block th:each="i : ${#numbers.sequence(stpg, stpg + 2)}">
                                <th:block th:if="${i le cntpg}">
                                    <li th:class="${(i ne cpg) ? '' : 'selected active'}">
                                        <a th:href="|${pglink}${i}|" class="page-link" th:text="${i}" onclick="fn_egov_link_page(cpg)">1</a>
                                    </li>
                                </th:block>

                            </th:block>

                            <li th:class="${(cpg + 1 le cntpg) ? 'next' : 'next disabled'}"><a th:href="|${pglink}${cpg + 1}|" class="page-link">다음</a></li>

                            <th:block th:if="${cpg lt cntpg}">
                                <li class="last">
                                    <a th:href="|${pglink}${cntpg}|" class="page-link">끝</a></li>
                            </th:block>

                        </ul>
                    </div>
                    <!--//paging -->
                </div>
            </div>
                <div id="layer">
                    <div class="layer-content layer-keywords">
                        <div class="layer-header">
                            <div class="layer-title"></i>키워드 사전</div>
                            <button type="button" class="layer-close">닫기</button>
                        </div>
                        <div class="layer-body">
                            <div class="tag">
                                <span><a href="/drink/tag/가성비/1">가성비</a></span>
                                <span><a href="/drink/tag/가을/1">가을</a></span>
                                <span><a href="/drink/tag/고문헌/1">고문헌</a></span>
                                <span><a href="/drink/tag/기념일/1">기념일</a></span>
                                <span><a href="/drink/tag/달콤/1">달콤</a></span>
                                <span><a href="/drink/tag/드라이/1">드라이</a></span>
                                <span><a href="/drink/tag/무감미료/1">무감미료</a></span>
                                <span><a href="/drink/tag/베리류/1">베리류</a></span>
                                <span><a href="/drink/tag/봄/1">봄</a></span>
                                <span><a href="/drink/tag/선물/1">선물</a></span>
                                <span><a href="/drink/tag/소용량/1">소용량</a></span>
                                <span><a href="/drink/tag/여름/1">여름</a></span>
                                <span><a href="/drink/tag/예쁜술/1">예쁜술</a></span>
                                <span><a href="/drink/tag/이색전통주/1">이색전통주</a></span>
                                <span><a href="/drink/tag/저도수/1">저도수</a></span>
                                <span><a href="/drink/tag/진한맛/1">진한맛</a></span>
                                <span><a href="/drink/tag/집들이/1">집들이</a></span>
                                <span><a href="/drink/tag/커플/1">커플</a></span>
                                <span><a href="/drink/tag/탄산/1">탄산</a></span>
                                <span><a href="/drink/tag/파티/1">파티</a></span>
                                <span><a href="/drink/tag/혼술/1">혼술</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/woorisul/drink.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/eb07c6eb8a.js" crossorigin="anonymous"></script>
    <!-- //container -->

</th:block>
</html>