.paging li.first {padding-right:15px;}
.paging li.last {padding-left:15px;}



.form-control {
    display: none; /* 초기값으로 되돌립니다. */
    width: auto; /* 초기값으로 되돌립니다. */
    padding: 0; /* 초기값으로 되돌립니다. */
    font-size: initial; /* 초기값으로 되돌립니다. */
    /* 이 외에 필요한 스타일을 지정할 수 있습니다. */
}
.info-search .radio-area {
    display: inline-block;
}

.radio-box {
    position: relative;
    margin-right: 0px;
    margin-bottom: 5px;
}



.board-search button {
    width: 30px;
    background: url(https://thesool.com/images/front/common/board-search.png) no-repeat center;
    text-indent: -9999px;
    font-size: 0;
}

/* 페이지네이션 */
.paging li a {
    display: block;
    width: 46px;
    height: 40px;
    border-radius: 30px;
    font-size: 13px;
    color: #666;
    padding: 9px 7px 0 7px;
}

/* 폰트 적용 */
.inner h2 {
    font-family: 'SangSangRock';
    font-weight: bold;
    font-size: 60px;
}
.product-list .detail dt .title-area .name {
    font-family: 'SangSangRock';
    font-size: 27px;
}
.product-view dt {
    font-family: 'SangSangRock';
    font-size: 30px;
    border-bottom: 1px solid gray;
    background-color: white;
}
.product-view {
    border-top: 1px solid gray;
}

