<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}"><!-- header/footer와 달리 content는 layout/template에 있는게 여기 들어옴 -->
<th:block layout:fragment="content">

  <div id="container">

    <div id="content">
      <div class="inner">
        <h2 class="title">우리술 구매처</h2>

        <div class="tab-wrap2">

        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

</th:block>
</html>