

.gnb .list {
    display: flex;
    justify-content: center;
    color: #fff;
}
.gnb .list > li .depth01 {
    position: relative;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.gnb .list > li .depth02 {
    position: relative;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}