<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div class="inner">
        <h2 class="title">우리술 소개</h2>
    </div>
    <div class="main">
        <div class="">
            <img src="https://soollove.com/web/product/medium/202111/84f59795255bbbd3a50c4c4e1c85de1e.jpg"
                 style="width:600px; height:680px;">
        </div>
        <div class="contents">
            <div class="column">
                <h2>전통주의 역사</h2>
                <p style="font-size: 15px;">우리의 술문화는 역사가 매우 깊습니다. 삼국시대 이전인 마한(馬韓)시대부터 맑은 곡주를 빚어 조상께 바치고 춤과 노래와 술마시기를
                    즐겼다고 합니다.
                    삼국시대 때도 술을 빚어 마시고 모든 행사에 술이 애용되었습니다. 고구려를 세운 주몽의 건국 신화에는 술에 대한 이야기가 나오고, 당나라 풍류객들 사이에는 신라주가 알려졌다고 합니다. 그리고 고려시대에는 송나라와
                    원나라의
                    양조법이 도입되었고, 전래의 주류양조법이 발전되어 주류제품이 다양해졌습니다. 중국으로부터 증류주가 유입된 것도 이 때였고, 황금주, 백자주, 송주 등 술의 재료와 특성을 나타내는
                    술이
                    나타나기 시작한 것도 이 시기였습니다.
                </p>
            </div>
            <div class="column">
                <h2>전통주의 개념</h2>
                <p style="font-size: 15px;">전통주란 전통방식으로 빚은 술을 의미할텐데, 여기서의 전통방식이란 일제강점기 이전의 술빚는 방식으로서, 쌀을 주원료로 하고 전통누룩을
                    발효제로 사용하여 옹기에서 발효시켜 빚는 것이
                    특징입니다. 전통누룩이 아니고 일본식 누룩(입국)이나 배양효모를 사용하여 스텐발효조에서 발효시키는 것은 엄격한 의미에서는 전통주라고 말하기는 어렵습니다. 그런데 ‘전통주 등의
                    산업진흥에 관한 법률’에 따르면 전통주란 ‘중요무형문화재나 식품명인이 빚은 술이나 농업인이나 농업인 단체가 우리 농산물을 주원료로 하여 제조한 술’을 말합니다. 따라서 전통누룩을
                    사용하여 술을 빚든 입국방식으로 술을 빚든 우리 농산물을 주원료로 하여 빚은 술은 모두 현행 법령상 전통주에 해당합니다. 여기서는 전통주의 개념을 전통누룩을 사용하여 빚은 술로
                    한정합니다.
                </p>
            </div>
        </div>
    </div>

</th:block>
</html>