body {
    overflow-x: hidden;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
}
.grid-item {
    text-align: center;
    width: 350px;
}
.grid-item img {
    width: 350px;
    height: 350px;
}
.grid-item p {
    font-family: 'SangSangRock';
    font-size: 25px;
    margin: 5px 0; /* 텍스트의 상하 여백을 조정하여 더 보기 좋게 함 */
}