.board-search .search-input-br {
    min-width: 175px;
    display:flex;
    border-bottom:1px solid #b2b2b2;
    vertical-align:middle;
    margin-left:6px;
    position: relative;
}
.board-search #findkey {
    min-width: 145px;
}

.board-search .search-input-br .form-control{
    display: inline-block;
}

.place-list .p-body a {
    color: rgba(155,155,155,0.98);
}

.num.gyeonggi {background-color: rgb(124, 199, 158);}
.num.gangwon {background-color: #82c0d7;}
.num.chungcheong {background-color: #c6e093;}
.num.gyeongsang {background-color: #9fc578;}
.num.jeolla {background-color: #eea459;}
.num.jeju {background-color: #e09787;}