/* 폰트 css */
@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* a의 link 태그의 밑줄 없애기 => 폰트 밑줄 없애는 것 */
a:link {
    text-decoration: none;
}
body {
    overflow-x: hidden;
}

/* 이미지 슬라이더 */
.slider-container {
    width: 1000px;
    height: 700px;
    overflow: hidden;
    margin: 50px 0 -110px 115px;
}
.slider {
    display: flex; /* 이미지들을 가로로 배치합니다. */
    transition: transform 0.3s ease; /* 슬라이드 애니메이션을 부드럽게 만듭니다. */
    width: 100%;
}
.slider img {
    width: 1000px;
    height: 700px;
}


/* header.css - 상위항목 */
.gnb {
    margin-top: 30px;
    left: 50px;
}
.gnb .gnb-list {
    font-family: 'SangSangRock';
}
.gnb > ul > li > a {
    font-size: 27px;
}

/* header.css - 하위항목 배경부분 일일히 위치 조정 ^^,,  */
#snb-menu3{
    width: 14%;
    height: 120px;
    left: 500px;
}
#snb-menu4 {
    width: 14%;
    left: 692px;
}
#snb-menu5 {
    width: 14%;
    left: 881px;
}
.snb-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    margin-top: 5px;
}

/* header.css - 하위항목 정렬 */
.gnb .snb-list {
    font-family: 'SangSangRock';
    font-size: 18px;
    top: 91px;
    background-color: #ff9f00;
    right: 48px;
}
.gnb .snb-list .inner {
    display: table;
    width: 880px;
    text-align: center;
    padding: 0 0 0 40px;
    right: 388px;
}
.gnb .snb-list a {
    color: black;
    font-size: 20px;
}
.gnb .snb-list ul:hover {
    background: none;
}
.gnb > ul > li a {
    font-weight: bold;
}

/* intro.css */
.main {
    display: flex;
    align-items: center;
}
.contents {
    justify-content: space-between;
}
.column {
    max-width: 600px;
    margin: 10px;
    padding: 10px;
}
.column > p{
    margin-top: 30px;
 }
.column > h2 {
    font-family: 'SangSangRock';
    font-weight: bold;
    font-size: 30px;
    text-align: end;
    box-sizing: border-box;
    border-bottom: 2px solid gray;
}

/* footer.css */
#footer {
    margin-top: 80px;
}