/* sns.css 를 만든 이유
    1. 처음엔 더술 사이트 > 페이지 소스에서 layout.css 링크 자체를 가져왔다. > 그대로 template.html에 적용했다.
    2. gnb-list(상위항목)에 마우스 올렸을 시 밑에 뜨는 점(●)의 색을 바꾸고 싶었다.
    3. 그래서 css 적용 방법을 바꿨다.
    4. 바꾼 방법은 layout.css 링크를 들고 온 것이 아닌, layout.css 에 들어있는 코드 전체를 복사해서 붙이는 것.
    5. 복사해온 코드 전체를 site.css에 붙여넣었다. (site.css 라고 내가 이름 정한거임)
    6. 그랬더니 sns를 덮어씌운 이미지가 보이지 않게 되었다.
    7. 결국 아래 코드처럼 이미지 링크를 가져와 하나하나 씌우게 되었다. > 해결!
    ps. 이미지가 불려오지 않는 이유는 모르겠다..
 */
.footer-top .sns-list li .blog {
    background-image: url(https://thesool.com/images/front/common/sns-blog.png);
}
.footer-top .sns-list li .facebook {
    background-image: url(https://thesool.com/images/front/common/sns-facebook.png);
}
.footer-top .sns-list li .instar {
    background-image: url(https://thesool.com/images/front/common/sns-instar.png);
}
.aside .sns-list li .title {
    background: url(https://thesool.com/images/front/common/aside-sns.png) no-repeat center;
}
.aside .sns-list li .blog {
    background-image: url(https://thesool.com/images/front/common/aside-blog.png);
}
.aside .sns-list li .facebook {
    background-image: url(https://thesool.com/images/front/common/aside-facebook.png);
}
.aside .sns-list li .instar {
    background-image: url(https://thesool.com/images/front/common/aside-instar.png);
}
